div#events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // flex-basis: 1;
  // justify-content: left;
  // align-content: space-between;
  & > * {
    margin: 10px;
  }
}