div.carousel {
  min-height: 350px;
  max-height: 350px;
  overflow: hidden;
  text-align: center;
  background-color: #333;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #777;

  & div.carousel-inner {
    width: 100%;
    min-height: 350px;
    max-height: 350px;

    & div.carousel-item {
      margin: 0;
      width: 100%;
      overflow: hidden;
      min-height: 350px;
      max-height: 350px;

      & > * {
        background-repeat: no-repeat;
        background-position: center;
        min-height: 350px !important;
        height: 350px !important;
        max-height: 350px !important;
        width: 100% !important;
        cursor: pointer;
      }
    }
  }
}