#about-section {
  display: block;
  text-align: center;
}

.aboutContainer {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #AAA;
  padding: 5%;
}

.about-name-left {
  margin-left: 16%;
}

.about-name-right {
  margin-left: 64%;
}

.about-event-img {
  width: 100%;
  text-align: center;
}

.about-row {
  margin-bottom: 5%;
}

.calvin-image {
  margin-top: 60px;
  height: 400px;
  width: 400px;
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/CALVIN.jpg");
  border-radius: 200px;
  background-size: cover;
}

.calvin-image:hover {
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/funny-CALVIN.jpg");
}

.james-image {
  margin-top: 30px;
  height: 400px;
  width: 400px;
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/JAMES.jpg");
  border-radius: 200px;
  background-size: cover;
}

.james-image:hover {
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/funny-JAMES.jpg");
}

.juicy-image {
  height: 400px;
  width: 400px;
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/JUICY.jpg");
  border-radius: 200px;
  background-size: cover;
}

.juicy-image:hover {
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/funny-JUICY.jpg");
}

.jon-image {
  margin-top: 30px;
  height: 400px;
  width: 400px;
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/JON.jpg");
  border-radius: 200px;
  background-size: cover;
}

.jon-image:hover {
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/funny-JON.jpg");
}

.jacob-image {
  margin-top: 30px;
  height: 400px;
  width: 400px;
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/JACOB.JPG");
  border-radius: 200px;
  background-size: cover;
}

.jacob-image:hover {
  background-image: url("https://event-grove-assets.s3.us-east-2.amazonaws.com/about-photos/funny-JACOB.JPG");
}