#about-section {
  display: block;
  text-align: center;
}

.aboutContainer {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #AAA;
  padding: 5%;
}

.about-name-left {
  margin-left: 16%;
}

.about-name-right {
  margin-left: 64%;
}

.about-event-img {
  width: 100%;
  text-align: center;
}

.about-row {
  margin-bottom: 5%;
}