header > nav {
  justify-content: space-between !important;
  background-color: #3E6990 !important;

  & > a:first-child {
    transform: scale(2.5);
    margin-left: 80px;
  }

  & > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    overflow: hidden;
  }

  & form > input[type='text'] {
    width: 25vw !important;
  }

  & form {
    margin-right: 8px;
  }
}

//@media only screen and (max-width: )