#content {
  position: absolute;
  top: 76px;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  overflow: hidden;
}

#page-content {
  overflow: auto;
}

div.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // flex-basis: 1;
  // justify-content: left;
  // align-content: space-between;
  & > * {
    margin: 10px;
  }
}

.btn-primary {
  background-color: #fff !important;
  color: rgb(255, 145, 0) !important;
  border-color: rgb(255, 145, 0) !important;

  &:hover {
    background-color: rgb(255, 145, 0) !important;
    color: #fff !important;
    border-color: #fff !important;
  }
}